.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

.entry {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 2em;
  box-shadow: 1px 0 2px #666;

  min-height: 100vh;

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.entry textarea {
  height: 80vh;
  margin-top: 1em;
}

.display {
  position: relative;
  width: 79%;
  background: white;
  padding: 2em;
}

.plain {
  padding: 2em;
}
.plainentry {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  color: #aaa;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  font-size: 3em;
  color: #aaa;
}

